{% extends "layout.html" %} {% block title %} Contáctenos {% endblock %} {% block content %}



<div class="container-fluid">


    <div class="card" style="width: 100%">
        <div class="card-header bg-transparent">
            <h5 class="text-primary"> Contáctenos
            </h5>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <p class="card-text">CTP de Aserri, San Jose, Costa Rica</p>
            </li>
            <li class="list-group-item">
                <p class="card-text">Horario de atención de lunes a viernes de 07:00 a 16:20 horas.<br>
                </p>
            </li>
            <li class="list-group-item">
                <p class="card-text">Equipo de desarrollo <br> Email de contacto <strong>yolethmz02@gmail.com</strong>
                </p>
            </li>
        </ul>
    </div>
    <!-- <div class="row">

        <div class="card-deck">
            <div class="card">
                <div class="card-body text-center">
                    <p class="card-text">190/12 Nai Muang Muang Khonkaen 40000, Thailand</p>
                </div>
            </div>
            <div class="card">
                <div class="card-body text-center">
                    <p class="card-text">เวลาทำการ วันจันทร์ถึงวันศุกร์ เวลา 18.00น. ถึง 23:30 น.<br> เวลาทำการ วันเสาร์ถึงวันอาทิตย์ เวลา 08.00น. ถึง 23:30 น.
                    </p>
                </div>
            </div>
            <div class="card">
                <div class="card-body text-center">
                    <p class="card-text">บริจาคให้แก่ HIPTS ได้ที่ donate prompay : 0821423709 <br> อีเมลติดต่อ HIPTS.service@gmail.com
                    </p>
                </div>
            </div>

            <div class="card">
                <div class="card-body text-center">
                    <p class="card-text">
                    </p>
                </div>
            </div>
            <div class="card">
                <div class="card-body text-center">
                    <p class="card-text"><i class="fa fa-eye"> เข้าชมแล้ว {{count}} ครั้ง</i><br>
                    </p>
                </div>
            </div>

        </div>
    </div> -->
</div>
{% endblock %}